@import "variables";
.View{
    width: 100%;
    height: 100%;
    @extend .alignCenter;
}

.Loading {
    width: 100%;
    height: 100%;
    background-color: #262626;
    @extend .alignCenter;
    p{color: #fff;}
}